---
layout: default
title: Heuro
---

<div id="home">

  <header>
    <h1>Modern marketing</h1>
    <h3>Customer centred, data driven marketing.</h3>
  </header>

  {% include subscribe.html %}

  <section class='row'>
    <section class='col-sm-6'>
      <header>
        <h3>Articles</h3>
      </header>
      {% include articles_list.html %}
      <hr>
    </section>

    <section class='col-sm-6'>
      <header>
        <h3>Email</h3>
      </header>
      {% include email_list.html %}
      <hr>
    </section>
  </section>
</div>