---
layout: default
title: Heuro
imagenav: true
categories: home
---

<div id="home">

  <section class='hero'>
    <section>{% image home/ny_by_philipp_henzler.jpg %}</section>

    <header class='hero_image_title'>
      <h1>Modern marketing moves quickly</h1>
      <h3>Stay ahead of the latest trends and practices with Heuro</h3>
    </header>
  </section>

  <section class='content'>
    <div class='home-newsletter-hero'>
      {% include subscribe.html %}
    </div>
    {% include content_lists.html %}
  </section>
</div>
