<nav role="navigation" class="navbar navbar-default">
  <div class="container">

    <!-- Title -->
    <div class="navbar-header pull-left">
      <a href="/" class="navbar-brand">HEURO</a>
    </div>

    <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
    <!-- <div class="navbar-header">
      <ul class="nav pull-right nav-btn">
        <li class="dropdown pull-right">
          <a class='btn btn-default navbar-btn' href='/newsletter'>Subscribe</a>
        </li>
      </ul> -->

      <!-- Required bootstrap placeholder for the collapsed menu -->
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>

    <!-- Additional navbar items -->
    <div class="collapse navbar-collapse">
      <!-- pull-left keeps the drop-down in line -->
      <ul class="nav navbar-nav">
        <li>
          <a href='/newsletter'>Subscribe</a>
        </li>
        <li>
          <a href='/categories/blog/'>Blog</a>
        </li>
        <li>
          <a href='/categories/email/'>Emails</a>
        </li>
        <li>
          <a href='/atom.xml'>RSS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
