<div class="newsletter-hero">
  <p>Sign up to a weekly email round-up on the latest thinking in modern marketing practices.</p>
  <form action="//heuro.us10.list-manage.com/subscribe/post?u=8c77261cb52314222e4c942ac&amp;id=5e92e9d61a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
    <div class='input-group'>
      <input  type='email' value='' name='EMAIL' class='required email form-control' id='mce-EMAIL' placeholder='Enter your email' data-validate='required,email'>
        <span class="input-group-btn">
          <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe now</button>
        </span>
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
  <small><i>No spam - unsubscribe at any time</i></small>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>