---
layout: default
title: Heuro
---

<head>
  <h1>Thanks, almost finished</h1>
</head>

<p>Please confirm your email address by clicking the link in the email we just sent you. In the meantime why not browse some of our latest articles / emails?</p>

<section class='row'>
  <section class='col-sm-6'>
    <header>
      <h3>Articles</h3>
    </header>
    {% include articles_list.html %}
    <hr>
  </section>

  <section class='col-sm-6'>
    <header>
      <h3>Email</h3>
    </header>
    {% include email_list.html %}
    <hr>
  </section>
</section>