/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

//body {
//  color: #666;
//}

//.site {
//  margin: 0 auto 2em;
//}

#home {

  .hero {
    img {
      margin: -220px 0 0 -40px;
      width: 120%;
      position: absolute;
      z-index: -1;
      max-height: 500px;
      min-height: 350px;
    }

    header {

      h1 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: center;
        color: $white;
      }

      h3 {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
        text-align: center;
        color: $white;
      }
    }
  }

  .content {
    margin-top: 5%;
  }
}

img {
  width: 100%;
}


.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}