/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  line-height: 1.5em;
  @extend .container;
  width: 95%;
}

@media (max-width: $screen-sm-min) {
  .site {
    width: 100%;
  }
}

.title {
  display: inline-block;
}

.newsletter-hero {
  @extend .jumbotron;
}

.meta {
  color: #aaa;
}

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
}