/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  line-height: 1.5em;
  @extend .container;
  width: 95%;
}

@media (max-width: $screen-sm-min) {
  .site {
    width: 100%;
  }
}

.title {
  display: inline-block;
}

.newsletter-hero {
  @extend .jumbotron;
}

.meta {
  color: #aaa;
}

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid $secondary-dark;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/

.navbar-nav {
  margin: 0 20px;
}

@media (max-width: $screen-sm-min) {
  .navbar-nav {
    margin: 0 5px;
  }
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}