/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/

//.navbar-nav {
//  margin: 0 20px;
//}

//@media (max-width: $screen-sm-min) {
//  .navbar-nav {
//    margin: 0 5px;
//  }
//}

//.navbar-collapse.collapse {
//  display: block!important;
//}

//.navbar-nav > li, .navbar-nav {
//  float: left !important;
//}

//.navbar-nav > li {
//  margin-top: 10px;
//}

.nav-btn {
  margin-right: 10px;
}

.navbar-header > .navbar-toggle {
  border-color: $primary-dark !important;
  border: 2px solid transparent;
  padding: 12px 10px;

  &:visited {
    background-color: $secondary-dark;
  }

  > .icon-bar {
    background-color: $primary-dark !important;
  }
}

//.navbar-nav > li.btn-li {
//  margin-top: 10px;

//  > a {
//    color: $primary-dark;
//    display: inline;
//  }

//  > a:hover {
//    border-color: $primary-dark;
//    background-color: $primary-dark;
//    color: $secondary-normal;
//  }
//}

//.navbar-nav.navbar-right:last-child {
//  margin-right: -15px !important;
//}

//.navbar-right {
//  float: right!important;
//}