/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/

nav {
  font-family: 'Droid Sans';
}

.navbar-collapse {
  z-index: 100;
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 250%;

  ul > li {
    padding: 0.5em;

    &:hover {
      background-color: $primary-dark;
      -webkit-transition: background-color 1000ms linear;
      -moz-transition: background-color 1000ms linear;
      -o-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;

      a {
        color: white !important;
        -webkit-transition: background-color 1000ms linear;
        -moz-transition: background-color 1000ms linear;
        -o-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
      }
    }
  }
}

.nav-btn {
  margin-right: 10px;
}

.navbar-header > .navbar-toggle {
  border-color: $primary-dark !important;
  border: 2px solid transparent;
  padding: 12px 10px;

  &:visited {
    background-color: $secondary-dark;
  }

  > .icon-bar {
    background-color: $primary-dark !important;
  }
}

.imagenav {
  nav {
    background-color: transparent;
    border-color: transparent;

    a {
      color: $link-color !important;

      &:hover {
        color: $link-hover-color !important;
      }
    }

    .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus, .navbar-toggle:visited {
      background-color: transparent;
    }

    a.navbar-btn {
      color: $primary-dark !important;

      &:hover {
        background: $primary-dark !important;
        color: $link-color !important;
      }
    }
  }
}
