---
layout: default
---
<ol class='breadcrumb'>
  <li><a href='/'>Home</a></li>
  <li><a href='/categories/{{ page.categories[0] }}'>{{ page.categories }}</a></li>
  <li>{{ page.title }}</li>
</ol>

<article>
  <header>
    <h1 itemprop='headline'>
      {{ page.title }}
    </h1>
  </header>

    <div class='grid-items'>

      <div class='grid-item-4'>
        <div class='calculator-form'>
          <div class='calculator-form-header'>
            <p>
              <b>Daily visitors
                <div class='tooltip-item'>
                  ?
                  <div class='tooltip'>
                    Yo blah blah blah
                  </div>
                </div>
              </b>
              <span>10,000</span>
            </p>
          </div>
        </div>
      </div>

      <div class='grid-item-8'>
        <h3>Another grid item</h3>

      </div>

    </div>

    {{ content }}

    {% include subscribe.html %}
  </div>
</article>
