---
layout: compress
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name='categories' content={{ page.categories }}>
    <link rel="canonical" href="http://heuro.net{{ page.url | replace:'index.html','' }}" />
    <link rel="shortcut icon" href="http://www.heuro.net/favicon.ico?v=2" />

    <script type="text/javascript" src='/assets/loadCSS.min.js'></script>
    <script>loadCSS('/assets/app.css')</script>

  {% include segment.html %}

  </head>
  <body>

    {% if page.imagenav %}
      <section class='imagenav'>
        {% include nav.html %}
      </section>
    {% elsif defined?(page.image_hero) %}
      <section class='image_hero'>
        {% include nav.html %}
        {% image page.image_hero %}
      </section>
    {% else %}
      {% include nav.html %}
    {% endif %}

    <section class="site">
      {{ content }}
      {% include footer.html %}
    </section>

  </body>
    {% include facebook.html %}
    {% javascript app %}
</html>
