---
layout: default
---
<ol class='breadcrumb'>
  <li><a href='/'>Home</a></li>
  <li><a href='/categories/{{ page.categories[0] }}'>{{ page.categories }}</a></li>
  <li>{{ page.title }}</li>
</ol>

<article itemscope itemType='http://schema.org/BlogPosting'>
  <header>
    <h1 itemprop='headline'>
      {{ page.title }}
    </h1>
    <section class="meta">
      <small itemprop='datePublished' content='{{ page.date }}'>
        {{ page.date | date_to_string }} |
      </small>
      <small itemprop='author'>
        <span itemscope itemtype='http://schema.org/Person'>
          <span itemprop='name'>
            Vlad Mehakovic
          </span>
        </span>
      </small>
      <p itemprop='description'>
        {{ page.description }}
      </p>
    </section>
  </header>

  <div class='post'>
    {{ content }}

    {% include subscribe.html %}
  </div>
</article>
